#formcontent
  .barcamplogo
    img(src='/images/logobarcamp.png', width='200')
  h2 Suma tu proyecto!
  #formbox
    .element
      label Nombre
      input(name='name')
    .element
      label Email
      input(name='email')
    .element
      label Descripción
      textarea(name='descripcion', rows='5')
    .element
      label Website
      input(name='url')
    .element
      label Twitter
      input(name='twitter')
    .element
      label Facebook
      input(name='fb')
    .element
      label Tags
      input(name='tags')
    .element
      input(type='hidden', name='latitude')
      input(type='hidden', name='longitude')
    a.element.button.mapme(href='#')
      span &nbsp;
    a.element.button.addme(style='display: none;', href='#')
      span &nbsp;
  p.move-banner Muévete dentro del mapa para ubicar tu proyecto