.stream-actions
  button#sync.btn.btn-primary Syncronize

ul.following
  each user, i in users
    li.following-item
      .profile-image
        span 
          img(src="#{user.profile_image_url}")
      .user
        a(href='#') #{user.screen_name}
      .action
        a(href="#") unfollow
      .tags
        form
          ul.tagging
            -if(tags[user.screen_name.toLowerCase()])
              each tag in tags[user.screen_name.toLowerCase()].split(',')
                li #{tag}