article#mis-mapas
  .overlay
  h2 Mis Mapas
  button.css3button#addmap + Crear Mapa
  section#newmap(style='display:none;')
    p Escribe un nombre para el mapa
    input(type='text')
  ul.mappings