article#mis-mapas
  .overlay
  -var title = everyauth.loggedIn ? "Mis Mapas" : "Nuevos Mapas"
  h2 #{title}
  -if (everyauth.loggedIn)
    button.css3button#addmap + Crear Mapa
  section#newmap(style='display:none;')
    span.close &nbsp;
    p Escribe un nombre para el mapa
    input(type='text')
    button#savemap.css3button.blue-1 Crear Mapa
  ul.mappings