article#mis-mapas
  .overlay
  h2 Mis Mapas
  button.css3button#addmap + Crear Mapa
  section#newmap(style='display:none;')
    span.close &nbsp;
    p Escribe un nombre para el mapa
    input(type='text')
    button#savemap.css3button.blue-1 Crear Mapa
  ul.mappings