#node-list
  .social-icons(style='display:none;')
    a(href='#', target='_blank')
      span.facebook
    a(href='#', target='_blank')
      span.twitter
    a(href='#', target='_blank')
      span.youtube
    a(href='#', target='_blank')
      span.vimeo
  .wrapper
    ul
      -each node in nodes
        li
          .node-item(id="node-item-#{node._id}")
            .wrapper-pic
              .pic
            .info
              .name
                a(href="#") #{node.name}
              .description
                p #{node.description}
