#node-front
  h2 Un Nodo
  .node-data
    .element.description
      label Descripción
      p &nbsp;
    .element.url
      label Website
      a(target='_blank') &nbsp;
    .element.twitter
      label Twitter
      a(target='_blank') &nbsp;
    .element.facebook
      label Facebook
      a(target='_blank') &nbsp;
    .element.tags
      label Tags
      p &nbsp;
    .element.button.back
      button Volver a Registro
