#formcontent
  .barcamplogo
    img(src='/images/logobarcamp.png', width='200')
  h2 Suma tu proyecto!
  #formbox
    .element
      label Nombre
      input(name='name')
    .element
      label Descripción
      textarea(name='descripcion', rows='5')
    .element
      label Website
      input(name='url')
    .element
      label Twitter
      input(name='twitter')
    .element
      label Facebook
      input(name='fb')
    .element
      label Tags
      input(name='tags')
    .element
      label Miembros
      input(name='miembros')
    .element
      button Póngame en el mapa!