extends layout

block main
  article#main
    header.top(style='float:right;')
      .current-mapping [ Medell&iacute;n ]
      - if (everyauth.loggedIn)
        - var user= everyauth.facebook ? everyauth.facebook.user : everyauth.google.user
        - var photo= everyauth.facebook ? "http://graph.facebook.com/"+user.id+"/picture?type=small" : ""
        .account(user_id='#{everyauth.userId}')
          img(height="30", src="#{photo}")
          p #{user.name}


      #top-nav
        ul
          - if (!everyauth.loggedIn)
            li.right
              a.action.login(href="#login") Entrar
              span.toggle-text(style='display:none;') Entrar
          - else
            li.right.salir
              a.salir(href="/logout") Salir
              span.toggle-text(style='display:none;') Salir

            li.right
              a.mis-mapas.action.on(href="#mappings") Mis Mapas
              span.toggle-text(style='display:none;') Mis Mapas

          li.right
            a.action.search(href="#search") Buscar
            span.toggle-text(style='display:none;') Buscar

    section
      #map(style='top: 32px;')

  .bg-rslide-card

  -if (!everyauth.loggedIn)
    .rslide-card.login
      h2 Con&eacute;ctate!
      .login-buttons
        #fb-button(style='background-position: left -188px')
          a.fb_button_medium(href='/auth/facebook')
            span
        #gg-button
          a.gg_button_medium(href='/auth/google', style='border: 0px')
            span

    .rslide-card.search
      include includes/node_list
    .rslide-card.latest-maps.active
      include includes/mymappings

  -if (everyauth.loggedIn)
    .rslide-card.search
      include includes/node_list
    .rslide-card.mis-mapas.active
      include includes/mymappings


  .maplabel.layout(style='hidden')
    p &nbsp;

block javascripts
  script(type="text/javascript", src="/javascripts/thirdparty/jquery.html5_upload.js")
  script(type="text/javascript", src="/javascripts/compiled_tpls.js")
  script(type="text/javascript", src="/javascripts/thirdparty/require.js", data-main="/javascripts/App.js")
  -if (everyauth.loggedIn)
    script(type="text/javascript", src="/javascripts/forms.js")      
