!!! 5
html
  head
    link(rel= 'stylesheet', href= '/stylesheets/css3.css', type= 'text/css')
    link(rel= 'stylesheet', href= '/styles.css', type= 'text/css')
    link(rel= 'stylesheet', href= '/stylesheets/jquery.jgrowl.css', type= 'text/css')
    script(src='http://static.ak.fbcdn.net/connect/en_US/core.js')
    title Metrallo
  body
    .root-wrapper
      != body
    script(type="text/javascript", src="/javascripts/thirdparty/jquery/jquery-1.7.min.js")
    script(type="text/javascript", src="/javascripts/thirdparty/jquery.jgrowl_minimized.js")
    script(type="text/javascript", src="/javascripts/client.js")
