article#main(style="display:none;")
  header(style='float:right;')
    #actions
      ul
        li
          a.action.remove(href="#") Qu&eacute; es esto?
          span.toggle-text(style='display:none;') X | Stop removing

  section
    #nodelist
      each node in nodes
        include includes/node 

article#registro.off
