extends bootstrap-layout

block head 
  meta(name='session_id', value='#{session_id}')
  link(rel= 'stylesheet', href= '/stylesheets/css3.css', type= 'text/css')
  link(rel= 'stylesheet', href= '/twitter.css', type= 'text/css')
  link(rel= 'stylesheet', href= '/stylesheets/jquery.jgrowl.css', type= 'text/css')
  link(rel= 'stylesheet', href= '/stylesheets/jquery.tagit.css', type= 'text/css')
  link(rel= 'stylesheet', href= '/stylesheets/tagit.ui-zendesk.css', type= 'text/css')
  title cooperaciones

block content
  #main.wrapper
    ul#stream-nav.nav.nav-tabs
      li.active
        a(href='#trending') Trending
      li
        a(href='#following') Following
      li
        a(href='#analysis') Analysis

    .tab-content
      #trending.tab-pane.active
      #following.tab-pane
      #analysis.tab-pane
      

block javascripts
  script(type="text/javascript", src="/javascripts/stream.js")