@import 'nib'

// ============= UTILS ==============
corner-each(tl, tr, br, bl)
  -moz-border-radius-topleft tl
  -webkit-border-top-left-radius tl
  border-top-left-radius tl

  -moz-border-radius-topright tr
  -webkit-border-top-right-radius tr
  border-top-right-radius tr

  -moz-border-radius-bottomleft bl
  -webkit-border-bottom-left-radius bl
  border-bottom-left-radius bl

  -moz-border-radius-bottomright br
  -webkit-border-bottom-right-radius br
  border-bottom-right-radius br

corner(px)
  corner-each(px,px,px,px)

corner-top(px)
  corner-each(px,px,0,0)

corner-bottom(px)
  corner-each(0,0,px,px)

corner-left(px)
  corner-each(px,0,0,px)

corner-right(px)
  corner-each(0,px,px,0)

// ============= UTILS ==============

*
  margin: 0
  padding: 0

html, body, root-wrapper
  height: 100%

a
  text-decoration: none

li
  display: block

body
  font-family: "Lucida Grande",Arial,Helvetica,Verdana,sans-serif
  overflow: hidden
  background: #EEE

.ajaxloader
  width: 16px
  height: 16px
  background: url(/images/ajax-loader.gif) 0 0 no-repeat

#map
  position: absolute
  top: 32px
  bottom: 0
  left: 0
  right: 0

.rslide-card
  height: 100%

.current-mapping
  font-size: 14px
  font-weight: 900
  margin-top: 7px
  position: absolute
  left: 50%

header.top
  background: black
  color: white
  position: absolute
  width: 100%
  height: 32px
  p
    padding-top: 6px
    text-align: right
    margin-right: 20px
  #top-nav
    margin-top: 7px
    margin-left: 10px
    // float: left
   .salir
     
  li
    float: left
    margin-right: 2px
    a
      color: white
      padding: 1px 8px
      border: 1px solid white
      font-size: 12px
      corner(2px)
      &.on
        color: black
        background: white
    &.right
      float: right
.start
  height: 100%
  background: #EFEFEF
  #loadUser
    .ajaxloader
      position: absolute
      right: 10px
      top: 10px
    background: white
    border: 2px solid #666
    padding: 20px
    width: 24%
    position: absolute
    top: 20%
    left: 38%
    corner(4px)
    input
      display: block
      margin: 10px 0
      height: 32px
      font-size: 20px
      width: 300px

.account
  float: left
  margin-top: 1px
  margin-left: 2px
  margin-right: 2px
  width: 300px
  img, p
    margin-right: 4px
    float: left

.bg-rslide-card
  position: absolute
  top: 32px
  bottom: 0
  right: 0px
  height: 100%
  background: white
  width: 450px
  opacity: 0.8
  &.off
    right: -450px

#formbox, .node-data
  margin-left: 20px
  margin-right: 20px
  margin-top: 10px
  padding-top: 15px
  label 
      display: block
  input, textarea
      width: 350px
      padding: 4px
      border: 1px solid #D6D9D9
      font-size: 13px
  button 
      margin: 10px 0 0 0
      padding: 0 10px 0 10px
      height: 60px

  a.element.button
    margin-top: 10px
    span
      background: url(/images/registro-btns.png) 0px 0px no-repeat
      height: 52px
      width: 130px
      float: left
    &.addme
      span
        background-position-x: -131px
  .element 
      display: block
      &a.button
        span
          background: url(/images/registro.png) 0 0 no-repeat
          height: 100px
          width: 100px
          float: left
      &.mapme
        float: left
      &.addme
        float: right
        button
          background-color: #4ABD87
          color: white
          font-size: 12px
  .error
    color: red
    font-size: 10px

#formcontent, #node-front, .node-card
  width: 450px
  position: absolute
  right: 0
  &.off
    right: -450px

  h2
    text-align: center
    margin-top: 15px

#nodelist
    padding: 10px

.node
    margin-top: 10px
    padding: 10px
    border-bottom: 1px solid black

.rslide-card
  width: 450px
  position: absolute
  z-index: 10
  top: 32px
  right: -450px
  &.active  
    right: 0px

.login
  h2
    text-align: center
    margin-top: 15px

  .login-buttons
    margin-top: 30px
    float: left
    width: 100%

  #fb-button
    float: left
    margin-left: 80px
    a.fb_button_medium span
      height: 65px
      width: 65px
      background: url(/images/iconos-fb-gg.png) no-repeat -69px -97px
      float: left
  #gg-button
    float: right
    margin-right: 80px
    a.gg_button_medium span
      height: 65px
      width: 65px
      background: url(/images/iconos-fb-gg.png) no-repeat -233px -97px
      float: left

.barcamplogo
  text-align: center
  margin-top: 10px

.maplabel, .pointlabel
  corner(10px)
  background: white
  border: 2px solid #AAA
  font-size: 12px
  &.hover
    border: 2px solid #123
    color: blue
    cursor: pointer 

.move-banner
  display: none
  float: left
  font-size: 13px
  margin: 10px 30px
  text-align: center
  background: #333
  color: white
  corner(3px)
  padding: 5px 10px

.layout
  display: none

#node-front, .node-card
  // background-color: white
  height: 1000px
  .element
    margin-bottom: 10px
    p, a
      font-size: 13px

#node-list
  .social-icons
    position: absolute
    right: 2px
    top: 3px
    span
      width: 16px
      height: 16px
      float: left
      margin-right: 3px
    span.facebook
      background: url(/images/social/PNG/facebook.png) 0 0 no-repeat
    span.twitter
      background: url(/images/social/PNG/twitter.png) 0 0 no-repeat
    span.youtube
      background: url(/images/social/PNG/youtube.png) 0 0 no-repeat
    span.vimeo
      background: url(/images/social/PNG/vimeo.png) 0 0 no-repeat
  button
    margin-top: 10px
    margin-right: 10px
    float: right
    cursor: pointer
  overflow: auto
  .wrapper
    box-shadow: 0px 2px 10px #DDD
    height: 600px
    overflow: auto
  ul
    padding: 10px
    padding-right: 15px
  li
    clear: both
    .node-item
      position: relative
      height: 85px
      margin-bottom: 5px
      // width: 100%
      border: 1px solid #DDD
      &.hover
        border: 1px solid #000
        corner(3px)
      .wrapper-pic
        float: left
        width: 42px
      .pic
        width: 30px
        height: 30px
        border: 1px solid #DDD
        float: left
        margin: 5px
      .info
        float: right
        width: 350px
        height: 80px
        overflow: hidden
      .description
        padding: 5px
        padding-left: 0
        // margin-left: 36px
        // width: 412px
        font-size: 12px
        clear: left
      .name
        font-size: 13px
        font-weight: 900
        a, p
          padding-top: 5px
          color: #22B573
          float: left
          &:hover
            text-decoration: underline

blue-button()
  font-size: 12px
  padding: 8px
  float: right
  margin-top: 10px
  cursor: pointer

button()
  padding: 1px 7px
  font-size: 11px
  font-weight: 900
  float: left
  cursor: pointer

dropdown-popup()
  span.close
    opacity: 0.2
    cursor: pointer
    float: right
    margin-top: 0px
    width: 16px
    height: 16px
    background: url(/images/close-16.png) no-repeat 0 0
  p
    font-weight: 900
    margin-bottom: 5px
  font-size: 12px
  border: 1px solid #AAA
  padding: 10px 10px 20px 10px
  background-color: #EEE
  position: absolute
  z-index: 10
  width: 86.2%
  box-shadow: 0px 0px 5px #666
  corner-bottom(4px)
  input
    font-size: 16px
    width: 99%
    padding: 3px 0

article#mis-mapas
  height: 100%
  
  padding: 20px

  .overlay
    background: white
    opacity: 0.5
    width: 100%
    top: 53px
    height: 100%
    position: absolute
    display: none

  ul.mappings
    overflow: auto
    height: 86%
  
  h2
    border-bottom: 1px solid
  
  button#addmap
    button()
    margin-top: -23px
    margin-left: 315px

  button#savemap
    blue-button()

  section#newmap
    dropdown-popup()

  .mapping-item
    float: left
    width: 100%
    span.icon
      background: url(/images/maps-icon.png) no-repeat 0 0
      width: 48px
      float: left
      height: 48px

.rslide-card.mapping
  button
    &#editmap, &#deletemap, &#savemap
      blue-button()
      margin: 0
    &#deletemap, &#savemap
      margin-right: 5px
    &#deletemap
      border: 1px solid #E77979
      box-shadow: none
      background: linear-gradient(top, rgb(235,76,76), rgb(231,121,121))

  button#addpoint
    button()
    width: 110px
    margin: 0

  #edit
    float: right
    border: 1px solid #AAA
    width: 100%
    corner(4px)
    padding: 4px 0
    a.close
      float: right
      margin-top: 8px
      margin-right: 5px
      opacity: 0.3

  header.points
    margin-top: 5px
    border-bottom: 1px solid #666
    float: left
    width: 100%
    label
      width: 30%
      margin-top: 6px
    span
      float: right
      padding: 0

  span.marker-icon
    background: url(/images/Map-Marker-Marker-Inside-Azure-32.png) no-repeat 0 0
    width: 32px
    height: 32px
    float: left

  section#newpoint
    dropdown-popup()
    width: 94.7%
    button#mappoint, button#savepoint
      float: right
      margin-top: 10px
      font-size: 16px
      cursor: pointer
      padding: 10px 10px
    label.title
      margin-top: 8px
    .info.pointing
      display: none
      float: left
      width: 100%
      span
        float: left
        width: 100%
    .error
      float: left
      margin: 0
      padding: 0
      font-size: 11px
      color: red
      margin-top: 7px
      margin-left: 5px


  ul.points
    width: 100%
    padding-top: 8px
    .point-item
      float: left
      width: 95%
      padding: 9px 5px
      a
        color: black
        font-size: 14px
        font-weight: 900
        margin: 5px 0 0 5px
        float: left
      a.delete
        display: none
      &:hover
        padding: 9px
        -moz-box-shadow: inset 0 0 5px #888
        -webkit-box-shadow: inset 0 0 5px#888
        box-shadow: inner 0 0 5px #888
        border-radius: 6px
        -moz-border-radius: 6px
        background: rgba(240, 240, 240, 0.7)
        a.delete
          display: block
          float: right
          font-size: 12px
          font-weight: 900
          margin-left: 0
          margin-top: 7px
          margin-right: 7px
          &:hover
            font-size: 14px
  article.mapping
    padding: 20px
    padding-top: 10px
  h2, input, textarea
    margin-bottom: 5px
  h2, label, input, ul.points, textarea
    clear: left
    float: left
  input[name=title]
    width: 100%
    font-size: 22px
  label
    font-size: 12px
    font-weight: bold
    &.title
      margin-top: 25px
    &.title.edit
      margin-top: 5px
  span.edit
    width: 30%
    float: right
    font-size: 12px
    text-align: right
  
  a.close
    opacity: 0.2
    cursor: pointer
    float: right
    margin-top: 0px
    width: 16px
    height: 16px
    background: url(/images/close-16.png) no-repeat 0 0

  input, textarea
    width: 100%

.rslide-card.point
  article
    padding: 20px
    height: 100%
  h2, input, textarea
    margin-bottom: 5px
  h2, label, input, ul.points, textarea
    clear: left
    float: left
  input[name=title]
    width: 100%
    font-size: 22px
  label
    font-size: 12px
    font-weight: bold
  ul.photos
    width: 100%
    float: left
    background: #333
    corner(3px)
    position: relative
    li
      width: 205px
      &.left
        float: left
      &.right
        float: right
    .photo-item
      padding: 2px

  .photos-wrapper
    width: 100%
    height: 60%
    float: left
    margin-top: 10px
    position: relative
    corner(3px)
  .scroller-wrapper
    height: 100%
    width: 100%
    overflow: hidden
    float: left
    corner(3px)
    
  .scroller-bottom
    corner-bottom(3px)
    position: absolute
    bottom: 0
    width: 100%
    height: 7%
    background: #333
    opacity: 0.9
    a.prev, a.next
      margin-top: 5px
      color: white
      font-size: 12px
      font-weight: 900
    a.prev
      margin-left: 10px
      float: left
    a.next
      margin-right: 10px
      float: right

  input, textarea
    width: 100%

  button#addphoto
    button()
    float: right

  section#newphoto
    dropdown-popup()
    width: 94.7%
    button#addphoto, button#savephoto
      float: right
      margin-top: 10px
      font-size: 16px
      cursor: pointer
      padding: 10px 10px
    label.title
      margin-top: 8px

  section#media
    .media-image, .media-video, .media-audio
      float: left
      width: 100%
      padding: 5px 0
      border: 1px solid #CCC
      background: #EEE
      corner(4px)
      margin-bottom: 10px
      button
        button()
      label
        float: left
        width: 100%
        margin-bottom: 4px
      span.add
        float: right
      a.show
        font-size: 11px
        text-decoration: underline
        float: left
        color: blue

    .media-wrapper
      padding: 0 5px

    .image-upload
      float: left
      width: 100%
      margin-top: 10px
      font-size: 11px
      p.cancel-info
        color: red
        margin-bottom: 3px
      .control
        margin-bottom: 3px
        p
          float: left
          margin-left: 5px
          font-weight: bold
      a
        color: blue
      .skip
        margin-left: 5px
      .cancel
        float: right
        margin-right: 5px

#galleria-wrapper
  width: 100%
  height: 100%
  position: absolute
  z-index: -2

  a.close
    background: url('/images/overlay/close.png') no-repeat 0 0
    width: 36px
    height: 36px
    position: absolute
    z-index: 20
    left: 60.5%


#galleria-bg-overlay, #galleria-overlay
  position: absolute
  top: 15px
  left: 30px
  width: 60%
  height: 90%

#galleria-bg-overlay
  background: #333
  opacity: 0.9
  corner(4px)

#galleria
  width: 100%
  height: 100%
  .galleria-container
    background: none

.meter
  height: 10px
  position: relative
  // margin: 60px 0 20px 0
  background: #555
  -moz-border-radius: 25px
  -webkit-border-radius: 25px
  border-radius: 25px
  // padding: 10px
  padding: 3px 4px
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3)


.meter > span
  display: block
  height: 100%
  -webkit-border-top-right-radius: 8px
  -webkit-border-bottom-right-radius: 8px
  -moz-border-radius-topright: 8px
  -moz-border-radius-bottomright: 8px
  border-top-right-radius: 8px
  border-bottom-right-radius: 8px
  -webkit-border-top-left-radius: 20px
  -webkit-border-bottom-left-radius: 20px
  -moz-border-radius-topleft: 20px
  -moz-border-radius-bottomleft: 20px
  border-top-left-radius: 20px
  border-bottom-left-radius: 20px
  background-color: rgb(43,194,83)

  position: relative
  overflow: hidden

  background-image: linear-gradient(center bottom, rgb(43,194,83), rgb(84,240,84))
  box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4)
  &.stop
    background-image: none
    background-color: rgba(245, 14, 14, 0.42)


.meter > span:after, .animate > span > span
  content: ""
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  background-image: linear-gradient(top, 25% rgba(255, 255, 255, 0.2), 25% transparent, 5% transparent, 5% rgba(255, 255, 255, 0.2), 75% rgba(255, 255, 255, 0.2), 75% transparent, transparent)
  z-index: 1
  -webkit-background-size: 50px 50px
  -moz-background-size: 50px 50px
  -webkit-animation: move 2s linear infinite
  border-top-right-radius: 8px
  border-bottom-right-radius: 8px
  border-top-left-radius: 20px 
  border-bottom-left-radius: 20px
  overflow: hidden

.animate > span:after
  display: none
		
@keyframes move
  0% 
    background-position: 0 0
  100%
    background-position: 50px 50px

.orange > span
  background-color: #f1a165
  background-image: linear-gradient(top, #f1a165, #f36d0a)
		
.red > span
  background-color: #f0a3a3
  background-image: linear-gradient(top, #f0a3a3, #f42323)
		
.nostripes > span > span, .nostripes > span:after
  -webkit-animation: none
  background-image: none