@import 'nib'

// ============= UTILS ==============
corner-each(tl, tr, br, bl)
  -moz-border-radius-topleft tl
  -webkit-border-top-left-radius tl
  border-top-left-radius tl

  -moz-border-radius-topright tr
  -webkit-border-top-right-radius tr
  border-top-right-radius tr

  -moz-border-radius-bottomleft bl
  -webkit-border-bottom-left-radius bl
  border-bottom-left-radius bl

  -moz-border-radius-bottomright br
  -webkit-border-bottom-right-radius br
  border-bottom-right-radius br

corner(px)
  corner-each(px,px,px,px)

corner-top(px)
  corner-each(px,px,0,0)

corner-bottom(px)
  corner-each(0,0,px,px)

corner-left(px)
  corner-each(px,0,0,px)

corner-right(px)
  corner-each(0,px,px,0)

// ============= UTILS ==============

*
  margin: 0
  padding: 0

html, body, root-wrapper
  height: 100%

a
  text-decoration: none

li
  display: block

body
  // font-family: "Lucida Grande",Arial,Helvetica,Verdana,sans-serif
  padding: 20px

li.term-item
  clear: left
  .term, .count, .pos, .action
    float: left
  .pos
    width: 45px
  .term
    width: 200px
  .count
    width: 70px
  .action
    width: 50px
    font-size: 12px
    margin-right: 10px

li.following-item
  float: left
  clear: left
  width: 100%
  border-bottom: 1px solid #ddd
  padding-top: 10px
  padding-bottom: 10px
  .profile-image, .user, .action
    float: left
  .profile-image
    width: 48px
  .user
    width: 200px
    margin-left: 10px
  .action
    width: 50px
    font-size: 12px
    margin-right: 10px

.stream-actions
  padding-bottom: 10px
  margin-bottom: 10px
  border-bottom: 1px solid #ddd

#stream-nav
  margin-bottom: 10px

h3.tag-title
  margin: 0
  padding-left: 15px

// tagit component
.tagging.ui-widget
  font-size: 11px

table.terms
  margin-top: 15px

.navbar
  .btn
    margin-top: 5px
