button.css3button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 20px;
    background: -moz-linear-gradient(
        top,
        #a3a3a3 0%,
        #3b3b3b 50%,
        #242424 50%,
        #000000);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#a3a3a3),
        color-stop(0.50, #3b3b3b),
        color-stop(0.50, #242424),
        to(#000000));
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #000000;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.6);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.6);
    text-shadow:
        0px -1px 0px rgba(000,000,000,1),
        0px 1px 0px rgba(255,255,255,0.2);
}

button.css3button.action {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #bbbbbb;
	padding: 4px 20px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#cccccc);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		to(#cccccc));
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border: 1px solid #cccccc;
	-moz-box-shadow:
		0px 1px 0px rgba(255,255,255,0.5),
		inset 0px 0px 0px rgba(0,0,0,0.7);
	-webkit-box-shadow:
		0px 1px 0px rgba(255,255,255,0.5),
		inset 0px 0px 0px rgba(0,0,0,0.7);
	text-shadow:
		0px -1px 0px rgba(255,255,255,0.4),
		0px 1px 0px rgba(0,0,0,0.3);
}

button.css3button.blue-1 {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #ffffff;
	padding: 12px 30px;
	background: -moz-linear-gradient(
		top,
		#3dabde 0%,
		#268ae7);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#3dabde),
		to(#268ae7));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #3dabde;
	-moz-box-shadow:
		0px 3px 11px rgba(122,122,122,0.5),
		inset 0px -1px 1px rgba(038,100,128,1);
	-webkit-box-shadow:
		0px 3px 11px rgba(122,122,122,0.5),
		inset 0px -1px 1px rgba(038,100,128,1);
	box-shadow:
		0px 3px 11px rgba(122,122,122,0.5),
		inset 0px -1px 1px rgba(038,100,128,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}
