*{margin:0;padding:0}
html,body,root-wrapper{height:100%}
a{text-decoration:none}
li{display:block}
body{font-family:"Lucida Grande",Arial,Helvetica,Verdana,sans-serif}
li{clear:left;padding:10px;}
li .term,li .count,li .pos,li .exclude{float:left}
li .pos{width:45px}
li .term{width:200px}
li .count{width:70px}
li .exclude{width:50px;font-size:12px}
