section#add_video
  p 
    | Puedes agregar videos ingresando una direcci&oacute;
    | de YouTube! o Vimeo

  input(name='url', type='text')

  p
    | Tambi&eacute;n puedes subir un video directamente a tu
    | de YouTube! o Vimeo

  a.youtube Subir a
    span &nbsp;
  
  a.vimeo Subir a
    span &nbsp;
