.photos-wrapper
  .scroller-wrapper
    ul.photos
      li(style='display:none;')
        .point-item
          span.marker-icon
          a(href='#') Foto
  .scroller-bottom
    a.prev(href='#', style='display:none;') « Anterior
    a.next(href='#', style='display:none;') Siguiente »
button#savephoto.css3button.blue-1 Guardar Foto
